<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="medium"> 
      <ion-title>Notícias</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-card color="">
    <ion-card-header>
      <ion-img src="/assets/papelao.jpg"></ion-img>
      <h2>O que o papelão causa ao meio ambiente</h2>
    </ion-card-header>
  
    <ion-card-content>
      O papelão, assim como outros tipos de papéis, jogado nas ruas das cidades pode entupir os bueiros e, com as chuvas, causar enchentes e inundações
    </ion-card-content>
    <ion-button size = "default"expand ="block "color="medium" shape="round" href = "https://aparasmacedo.com.br/o-que-o-papelao-causa-ao-meio-ambiente-quando-jogado-no-lixo-comum/#:~:text=Papel%C3%A3o%20no%20meio%20ambiente,poluindo%20ainda%20mais%20as%20%C3%A1guas.
    ">Saber Mais</ion-button>
  </ion-card>
  

  <ion-card color="">
    <ion-card-header>
      <ion-img src="/assets/lixo.jpg"></ion-img>
      <h2>Reciclagem no Brasil atinge apenas 2,1% de tudo que é coletado.</h2>
    </ion-card-header>
  
    <ion-card-content>
      Meta é chegar em 2040 reciclando quase 10 vezes mais, mas área ainda enfrenta problemas básico.
    </ion-card-content>
    <ion-button size = "default"expand ="block "color="medium" shape="round" href = "https://www.poder360.com.br/brasil/reciclagem-no-brasil-atinge-apenas-21-de-tudo-que-e-coletado/
    ">Saber Mais</ion-button>
  </ion-card>
  
