
      <div class="slide-inner ion-padding">
        <span>Login</span>

        <ion-item>
          <ion-label position="stacked">Digite email</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Digite sua senha</ion-label>
          <ion-input></ion-input>
        </ion-item>
        

        <ion-button class="ion-margin-top" color="success" expand="block">
          Entrar
        </ion-button>
        <ion-button class="ion-margin-top" color="success" expand="block">
          Cadastrar
        </ion-button>
      </div>
    
    
    
    

 