<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar color="medium"> 
        <ion-title>Informações</ion-title>
      </ion-toolbar>
    </ion-header>

 
<ion-card color="">
  <ion-card-header>
    <ion-img src="/assets/isopor.jpg"></ion-img>
    <ion-card-title>Isopor</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    O Isopor pode ser reciclado e transformado em residuos de EPS que pode ser transformados em calçados, materias de escritório e de construção.
  </ion-card-content>
</ion-card>

<ion-card color="">
  <ion-card-header>
    <ion-img src="/assets/vidro.jpg"></ion-img>
    
    <ion-card-title>Vidro</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    O material deve ser limpo antes de ser enviado a reciclagem. Já os rótulos nos objetos de vidro podem permanecer, contudo as tampas devem ser removidas,
    os produtos devem ser enrolados em jornal ou papelão para evitar ferimentos para quem vai coletar.

  </ion-card-content>
</ion-card>

<ion-card color="">
  <ion-card-header>
    <ion-img src="/assets/plastico.jpg"></ion-img>
    <ion-card-title>Plástico</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Itens que são Recicláveis Potes,Emalagens,Copos ,Garrafas,sacos e sacolas,Utensilios plásticos usados,Brinquedos de plástico.
  </ion-card-content>
</ion-card>










